<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/joerivanarkel/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="joerivanarkel" />
            
        </github>
    </packageSourceCredentials>
</configuration>